#stage{
    background: url(./images/css_animation_exercise_stage.png) 0 0 no-repeat;
    width: 600px;
    height:600px;
    margin: auto;
    outline: 1px solid red;
    position: relative;
    color:transparent;
}

@keyframes move{
    0%{left:10px; top:10px;}
    50%{left:515px;top:10px;}
    100%{left:10px; top:10px;}
}
#hero{
    border: 1px dashed red;
    color:transparent;
    height:75px;
    width:75px;
    position:absolute;
    left: 10px;
    top: 10px;
    animation:move;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}